<!-- Doctype HTML5 -->
<!DOCTYPE html>

<html lang="en">
<!-- Set character encoding for the document -->


<head>
  <meta charset="utf-8">
  <!-- Instruct Internet Explorer to use its latest rendering engine -->
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <!-- Viewport for responsive web design -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Document Title -->


  <title>GÜNZ MUSIC</title>
  <!-- Meta Description -->
  <meta content="Vancouver Based Electronic Musician." name="description">
  <!-- Standard favicon -->
  <link href="#" rel="icon" type="image/x-icon">

  <!-- Meta Description -->
  <meta description="description" content="GÜNZ MUSIC - A multidisciplinary electronic musician, hailing from Vancouver, Canada.">
  <!-- Recommended favicon format -->
  <link href="#" rel="icon" type="image/png">
  <link href="stylesheets/reset.css" rel="stylesheet">
  <link href="stylesheets/main.css" rel="stylesheet">
  <link href="stylesheets/animate.css" rel="stylesheet">
  <link rel="stylesheet" href="node_modules/fullpage.js/dist/jquery.fullpage.min.css">
</head>

<body>
  <!-- INTRO -->
  <!-- sdaf -->

  <div class="intro">
    <div class="background">
      <img alt="Static" src="img/static-video.gif">
    </div>

    <div class="error">
      GÜNZ
    </div>
    <span class="info">↓scroll↓</span>
  </div>
  <!-- INTRO -->
  <!-- IMAGES -->

  <!-- <div id="fullpage"> -->
  <div class="images">
    <!-- <div class="slide"> -->

    <div class="wow fadeIn" data-wow-delay="1s" data-wow-duration="1s">
      <iframe src="https://www.youtube.com/embed/YY3yevmP7po"></iframe>
    </div>

    <div class="wow fadeIn" data-wow-duration="3s">
      <a href="https://open.spotify.com/album/1z9XsbmISoIBrEWRDCXFyl" target="_blank">
        <img alt="bleachboi" src="./img/Banana.jpg">
      </a>
    </div>

    <div class="wow fadeIn" data-wow-delay="1s" data-wow-duration="1s">
      <iframe src="https://www.youtube.com/embed/FmKEBnDGZRk"></iframe>
    </div>


    <div class="wow slideInLeft" data-wow-delay="1s" data-wow-duration="1s">
      <img alt="Above All" src="./img/Pictures4Mike/Above%20All.jpg">
    </div>


    <div class="wow slideInRight">
      <img alt="Mr. Venus" src="./img/Pictures4Mike/Mr.%20Venus.jpg">
    </div>




    <div class="wow lightSpeedIn">
      <img alt="Jo" src="./img/Pictures4Mike/21980878_133792993926500_8472715769031950336_n.jpg">
    </div>



    <div class="wow slideInLeft">
      <img alt="Cloud 9" src="./img/Pictures4Mike/Cloud%209.jpg">
    </div>



    <div class="wow slideInRight">
      <img alt="Choke Me Out" src="./img/Pictures4Mike/Choke%20Me%20Out.jpg">
    </div>


    <div class="wow fadeIn" data-wow-delay="1s" data-wow-duration="1s">
      <img alt="Circus" src="./img/Pictures4Mike/19984370_734293440104195_4589821164557172736_n.jpg">
    </div>


    <div class="wow bounceInUp" data-wow-delay="2s" data-wow-duration="2s">
      <img alt="Don't Judge Me" src="./img/Pictures4Mike/Don't%20Judge%20Me.jpg">
    </div>



    <div class="wow slideInLeft">
      <img alt="Dance With Me" src="./img/Pictures4Mike/Dance%20With%20Me.jpg">
    </div>


    <div class="wow slideInRight">
      <img alt="Attached" src="./img/Pictures4Mike/24474606_10212952894371455_534985248_o.jpg">
    </div>



    <div class="wow slideInLeft">
      <img alt="I'll Call You From Space.jpg" src="./img/Pictures4Mike/I'll%20Call%20You%20From%20Space.jpg">
    </div>


    <div class="wow slideInRight">
      <img alt="Hello" src="./img/Pictures4Mike/Hello.jpg">
    </div>


    <div class="wow slideInLeft">
      <img alt="Cashmere Love" src="./img/Pictures4Mike/Cashmere%20Love.jpg">
    </div>

    <div class="wow fadeIn" data-wow-delay="1s" data-wow-duration="2s">
      <img alt="Jo Photo" src="./img/Pictures4Mike/photo.jpg">
    </div>




  </div>

  <!-- IMAGES -->
  <!-- SIDEBAR -->


  <div class="sideBar">
    <ul>
      <li>
        <a href="mailto:jo.oguni@gmail.com">email</a>
      </li>

      <li>
        <a href="https://www.youtube.com/channel/UCnxsdCRSESoYVacdHQyABBg" target="_blank">youtube</a>
      </li>

      <li>
        <a href="https://www.instagram.com/gunzinmotion/" target="_blank">instagram</a>
      </li>


      <li>
        <a href="https://soundcloud.com/goonztrak" target="_blank">soundcloud</a>
      </li>
    </ul>
  </div>
  <!-- SIDEBAR -->
  <!-- SITE CREDIT -->


  <div class='homepageLink'>
    <a href="http://mikechristianson.info/" target="_blank">code by: michael christianson
    </a>
  </div>
  <!-- SITE CREDIT -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">


  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js">


  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">


  </script>
  <script src="node_modules/fullpage.js/dist/jquery.fullpage.min.js">


  </script>
  <script>
    new WOW().init();

  </script>
</body>

</html>
