<!-- Doctype HTML5 -->
<!DOCTYPE html>

<html lang="en">
<!-- Set character encoding for the document -->


<head>
	<meta charset="utf-8">
	<!-- Instruct Internet Explorer to use its latest rendering engine -->
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<!-- Viewport for responsive web design -->
	<meta content="width=device-width, initial-scale=1, viewport-fit=cover" name=
	"viewport"><!-- Document Title -->


	<title>GÜNZ MUSIC</title><!-- Meta Description -->
	<meta content="Vancouver Based Electronic Musician." name="description">
	<!-- Standard favicon -->
	<link href="#" rel="icon" type="image/x-icon">
	<!-- Recommended favicon format -->
	<link href="#" rel="icon" type="image/png">
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/final.css" rel="stylesheet">
	<link href="node_modules/wowjs/css/libs/animate.css" rel="stylesheet">
</head>

<body>
	<!-- INTRO -->


	<div class="intro">
		<div class="background"><img alt="Static" height="100%" src=
		"img/static-video.gif" width="100%">
		</div>

		<div class="error">
			GÜNZ
		</div>
		<span class="info">↓scroll↓</span>
	</div>
	<!-- INTRO -->
	<!-- IMAGES -->


	<div class="images">
		<div class="wow bounceInUp" data-wow-delay="2s" data-wow-duration="2s">
		<img alt="Don't Judge Me" height="100%" src=
		"./img/Pictures4Mike/Don't%20Judge%20Me.jpg" width="100%">
		</div>


		<div class="wow slideInLeft" data-wow-delay="1s" data-wow-duration="1s">
		<img alt="Above All" height="100%" src="./img/Pictures4Mike/Above%20All.jpg"
		width="100%">
		</div>


		<div class="wow slideInRight"><img alt="Cashmere Love" height="100%" src=
		"./img/Pictures4Mike/Cashmere%20Love.jpg" width="100%">
		</div>


		<div class="wow fadeIn" data-wow-delay="1s" data-wow-duration="1s"><img alt=
		"Cashmere Love" height="100%" src=
		"./img/Pictures4Mike/19984370_734293440104195_4589821164557172736_n.jpg"
		width="100%">
		</div>


		<div class="wow slideInLeft"><img alt="Choke Me Out" height="100%" src=
		"./img/Pictures4Mike/Choke%20Me%20Out.jpg" width="100%">
		</div>


		<div class="wow lightSpeedIn"><img alt="Jo" height="100%" src=
		"./img/Pictures4Mike/21980878_133792993926500_8472715769031950336_n.jpg"
		width="100%">
		</div>


		<div class="wow slideInRight"><img alt="Cloud 9" height="100%" src=
		"./img/Pictures4Mike/Cloud%209.jpg" width="100%">
		</div>


		<div class="wow slideInLeft"><img alt="Dance With Me" height="100%" src=
		"./img/Pictures4Mike/Dance%20With%20Me.jpg" width="100%">
		</div>


		<div class="wow slideInRight"><img alt="Hello" height="100%" src=
		"./img/Pictures4Mike/Hello.jpg" width="100%">
		</div>


		<div class="wow slideInLeft"><img alt="I'll Call You From Space.jpg" height=
		"100%" src="./img/Pictures4Mike/I'll%20Call%20You%20From%20Space.jpg" width=
		"100%">
		</div>


		<div class="wow slideInRight"><img alt="Mr. Venus" height="100%" src=
		"./img/Pictures4Mike/Mr.%20Venus.jpg" width="100%">
		</div>


		<div class="wow slideInLeft"><img alt="Untitled" height="100%" src=
		"./img/Pictures4Mike/untitled.jpg" width="100%">
		</div>


		<div class="wow fadeIn" data-wow-delay="1s" data-wow-duration="2s"><img alt=
		"Jo Photo" height="100%" src="./img/Pictures4Mike/photo.jpg" width="100%">
		</div>
	</div>
	<!-- IMAGES -->
	<!-- SIDEBAR -->


	<div class="sideBar">
		<ul>
			<li>
				<a href="mailto:jo.oguni@gmail.com">email</a>
			</li>


			<li>
				<a href="https://www.instagram.com/gunzinmotion/" target=
				"_blank">instagram</a>
			</li>


			<li>
				<a href="https://soundcloud.com/goonztrak" target="_blank">soundcloud</a>
			</li>
		</ul>
	</div>
	<!-- SIDEBAR -->
	<!-- SITE CREDIT -->


	<div class='homepageLink'>
		<a href="http://mikechristianson.info/" target="_blank">code by: michael
		christianson</a>
	</div>
	<!-- SITE CREDIT -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
	</script>
	<script src=
	"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
	</script>
	<script>
	      new WOW().init();
	</script>
</body>
</html>
